<div id="bibtex-gofetch" class="white-popup mfp-hide">
    @inproceedings{gofetch,
    title = {GoFetch: Breaking Constant-Time Cryptographic Implementations Using Data Memory-Dependent Prefetchers},
    author = {Boru Chen and Yingchen Wang and Pradyumna Shome and Christopher W. Fletcher and David Kohlbrenner and Riccardo Paccagnella and Daniel Genkin},
    booktitle = {USENIX Security},
    year = {2024},
}
</div>

<div id="bibtex-peek-a-walk" class="white-popup mfp-hide">
    @inproceedings{peekawalk,
        author = { Wang, Alan and Chen, Boru and Wang, Yingchen and Fletcher, Christopher and Genkin, Daniel and Kohlbrenner, David and Paccagnella, Riccardo },
        booktitle = { IEEE S\&P },
        title = {{ Peek-a-Walk: Leaking Secrets via Page Walk Side Channels }},
        year = {2025}
    }
</div>

<div id="bibtex-controlled-preemption" class="white-popup mfp-hide">
    @inproceedings{controlled-preemtion,
        author = {Zhu, Yongye and Chen, Boru and Zhao, Zirui Neil and Fletcher, Christopher W.},
        title = {Controlled Preemption: Amplifying Side-Channel Attacks from Userspace},
        year = {2025},
        booktitle = {ASPLOS}
    }
</div>
